body {
  background-color: rgb(185, 169, 199);
}

.cardForm {
  height: 65vh;
  width: 45vw;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 20px gray;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.formContent {
  margin-top: -25%;
  padding: 25% 5% 5% 10%;
  font-size: 12px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardNumberSection {
  display: flex;
  flex-direction: column;
}

.cardNumberSection label {
  margin-bottom: 1%;
  margin-left: 5%;
  font-size: 16px;
}

.cardNumbers {
  font-size: 18px;
  display: flex;
}

.cardNumbers label {
  margin-top: 5px;
}

input:focus {
  outline: none;
}

.cardNumbers input {
  font-size: 18px;
  text-align: center;
  width: 10%;
  padding: 5px;
  border-radius: 5px;
  margin-left: 5%;
}

.cardHolderSection {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.cardHolderSection label {
  font-size: 16px;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.cardHolderSection input {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px;
  width: 70%;
  margin-left: 5%;
  padding-left: 2%;
}

.selectorSection {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-left: 5%;
}

.expireSection {
  display: flex;
  flex-direction: column;
  width: 66%;
}

.expireLabel {
  font-size: 16px;
  margin: 2% 0;
}

#monthSelector {
  margin-right: 10%;
  width: 40%;
  font-size: 18px;
  height: 40px;
  background-color: white;
}

#yearSelector {
  width: 40%;
  font-size: 18px;
  height: 40px;
  background-color: white;
}

.cvvSection {
  width: 33%;
  display: flex;
  flex-direction: column;
}

.cvvLabel {
  font-size: 16px;
  margin: 3% 0;
}

.cvvSection input {
  height: 35px;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.submitButton {
  height: 50px;
  margin-top: 5%;
  margin-left: 5%;
  width: 80%;
  background-color: rgb(60, 60, 253);
  color: white;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 5px 5px 20px gray;
}

.submitButton:active {
  background-color: rgb(43, 43, 179);
}

.submitButton:focus {
  outline: none;
}

.fadeIn {
  transition-duration: 1.5s;
  opacity: 1;
}
